.moon,
.sun {
  color: var(--primary-color);
  font-size: 25px;
}

@keyframes rays {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.sun:hover {
  animation: rays 10s linear infinite;
  -o-animation: rays 10s linear infinite;
  -ms-animation: rays 10s linear infinite;
  -moz-animation: rays 10s linear infinite;
  -webkit-animation: rays 10s linear infinite;
}

.menuItem i {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--font-color);
}

.menuItem i:hover {
  color: var(--text-color);
}

.header {
  transition: all .15s ease-in;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header.overlayHeader {
  -webkit-backdrop-filter: blur(.625rem);
  backdrop-filter: blur(.625rem);
  background: rgba(255,255,255,.1);
  padding: 0 1rem;
}

.header .header-wrapper {
  transition: all .15s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--app-max-width);
  margin: auto;
  padding: 1rem;
}

.overlayHeader>.header-wrapper {
  padding: 0;
}

.logo {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--font-color);
}

.logo strong {
  color: var(--text-color);
}

.logo:hover {
  color: var(--text-color);
}

.header .header-wrapper .menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header .header-wrapper .menu .menuItem a {
  font-size: .8125rem;
  color: var(--font-color);
  font-weight: 500;
}

.header .header-wrapper .menu .menuItem a:hover {
  color: var(--text-color);
}