<div class="header">
    <div class="header-wrapper">
        <a class="logo" href="/">
            <div>JineshNagori<strong>.</strong></div>
        </a>
        <div class="menu">
            <div class="menuItem">
                <a target="_blank" rel="noreferrer" href="https://github.com/jineshnagori"><i class="ri-github-fill"></i></a>
            </div>
            <div class="menuItem">
                <a target="_blank" rel="noreferrer" href="https://linkedin.com/in/jineshnagori"><i class="ri-linkedin-fill"></i></a>
            </div>
            <div class="menuItem">
                <div id="toggleMode" (click)="onToggleTheme()">
                  <i id="toggleIcon" [hidden]="class === 'hide'" class="moon ri-moon-fill"></i>
                  <i id="toggleIcon" [hidden]="class === 'show'" class="sun ri-sun-fill"></i>
                </div>
            </div>
        </div>
    </div>
</div>