<section class="hero">
    <div class="hero-wrapper">
        <div class="hero-img">
            <img class="show img-fluid" src="/assets/images/dhero.png" alt="Jinesh Nagori Light" />
            <img class="hide img-fluid" src="/assets/images/hero.png" alt="Jinesh Nagori Light" />
        </div>
        <div class="hero-content">
            <h5 class="hero-title">Hello, I'm</h5>
            <h1 class="hero-name">Jinesh Nagori</h1>
            <p class="hero-about">
                A passionate <strong>Pull Stack Developer</strong> with around<strong> 2.5 years</strong> of
                experience in pulling things from Google and putting them into the
                code to<strong> create and manage applications.</strong>
            </p>
        </div>
        <div class="hero-btns">
            <a [href]="pdf" target="_blank" rel="noreferrer"
                class="hero-btn-1 d-flex justify-content-center align-items-center">
                <p class="mb-0">Download CV</p>
                <i class="ri-download-2-line"></i>
            </a>
            <a href="#contact" class="hero-btn-2 d-flex justify-content-center align-items-center">
                <p class="mb-0">Contact Me</p>
                <i class="ri-message-3-line"></i>
            </a>
        </div>
    </div>
</section>