#simulateLightMode {
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-color);
    color: var(--font-color);
}

#root {
    --app-max-width: 1200px;
    max-width: var(--app-max-width);
    width: 100%;
    position: relative;
    display: block;
    padding: 5.25rem 1rem;
    margin: auto;
}

@media (min-width: 1900px) {
    #root {
        padding: 8.25rem 1rem;
    }
}

@media (min-width: 1280px) and (max-width: 1791px) {
    #root {
        --app-max-width: 900px;
    }
}

@media (max-width: 1279px) and (min-width: 769px) {
    #root {
        --app-max-width: 1000px;
    }
}

@media (max-width: 768px) {
    #root {
        --app-max-width: 100%;
        padding: 6rem 1rem;
    }
}